<h1> Financial Details </h1>
<table>

	<tr> <td> Month ID: </td> <td> <%= onerec.month_id %> </td> </tr>
	<tr> <td> Month Name: </td> <td> <%= onerec.month_name %> </td> </tr>
	<tr> <td> Revenue: </td> <td> <%= onerec.monthly_revenue %> </td> </tr>
	<tr> <td> Budget: </td> <td> <%= onerec.monthly_budget %> </td> </tr>
	<tr> <td> Wages: </td> <td> <%= onerec.wage_expenses %> </td> </tr>
	<tr> <td> Supplies: </td> <td> <%= onerec.supply_expenses %> </td> </tr>
	<tr> <td> Advertisments: </td> <td> <%= onerec.ad_expenses %> </td> </tr>
</table>