<h1> Employee Details </h1>
<table>

	<tr> <td> Employee ID: </td> <td> <%= onerec.employee_id %> </td> </tr>
	<tr> <td> First Name: </td> <td> <%= onerec.firstname %> </td> </tr>
	<tr> <td> Last Name: </td> <td> <%= onerec.lastname %> </td> </tr>
	<tr> <td> Email: </td> <td> <%= onerec.email %> </td> </tr>
	<tr> <td> Phone: </td> <td> <%= onerec.phone %> </td> </tr>
	<tr> <td> Address1: </td> <td> <%= onerec.address1 %> </td> </tr>
	<tr> <td> Address2: </td> <td> <%= onerec.address2 %> </td> </tr>
	<tr> <td> City: </td> <td> <%= onerec.city %> </td> </tr>
	<tr> <td> State: </td> <td> <%= onerec.state %> </td> </tr>
	<tr> <td> Zip: </td> <td> <%= onerec.zip %> </td> </tr>
	<tr> <td> Wage: </td> <td> <%= onerec.hourly_wage %> </td> </tr>
	<tr> <td> Hours: </td> <td> <%= onerec.hours_worked %> </td> </tr>
	<tr> <td> Position: </td> <td> <%= onerec.position %> </td> </tr>
	
	
</table>